a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0px;
}

body {
  font-weight: 300;
  color: black;
  background-color: #F2F2F2;
}

/* Main menu header */
.header {
  background-color: #56cd10;
}

header, section {
  position: relative;
}

.nav-btn, .nav-btn-close, .nav-btn-help, .nav-btn-reload, .nav-btn-top-left, .nav-btn-top-right, .nav-btn-bottom-left, .nav-btn-bottom-right {
  float: left;
  padding: 5px 5px;
  border-radius: 35px;
  color: white;
  background-color: #3E7AD0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all 0.2s linear;
}

.nav-btn-close {
  top: -10px;
  right: 10px;
}

.nav-btn-help {
  width: 50px;
  height: 50px;
  font-size: 28px;
  font-weight: bold;
  left: 20px;
  top: -10px;
}

.nav-btn-reload {
  top: -12px;
  left: 775px;
}

.nav-btn-top-left {
  top: 175px;
  left: 50px;
}

.nav-btn-top-right {
  top: 175px;
  right: 50px;
}

.nav-btn-bottom-left {
  left: 50px;
  bottom: 0px;
}

.nav-btn-bottom-right {
  right: 50px;
  bottom: 0px;
}

.nav-btn-animate {
  transform-origin: center;
  transform: scale(0.8, 0.8);
}

.exe-header h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
}

.disabled {
  background-color: #99ccff !important;
  cursor: not-allowed;
}

.valid-result {
  background-color: #55f855 !important;
  cursor: pointer !important;
}

.invalid-result {
  background-color: #ff5858 !important;
  cursor: pointer !important;
}

.exercise-container {
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 5px 5px 4px #888888;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 1000px !important;
  padding: 5px 5px 20px 5px;
}

/* customized uib progress bar */
.progess-container {
  margin-top: 25px;
}

.progess-container .progress-box {
  width: 500px;
  display: inline-block;
  height: 30px;
  background-color: white;
  position: relative;
}

.progess-container .progress-bar-exe1 {
  background-color: #FFEED6;
}

.progess-container .progress-bar-exe1 b {
  color: #E48400;
  font-size: 26px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 100%;
  z-index: 2;
  left: 0px;
}

.progess-container .progress-color-exe1 {
  border: 2px solid #E48400;
}

.progess-container .progress-bar-exe2 {
  background-color: #F4CBFC;
}

.progess-container .progress-bar-exe2 b {
  color: #E24CFF;
  font-size: 26px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 100%;
  z-index: 2;
  left: 0px;
}

.progess-container .progress-color-exe2 {
  border: 2px solid #E24CFF;
}

/* container with objects and result */
.main-content .subexe-container-box {
  width: 680px;
  height: 480px;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  position: relative;
}

.main-content .subexe-container-box .object-arena {
  position: relative;
  float: left;
  height: 350px;
  width: 350px;
  margin-right: 5px;
  border-radius: 8px;
  border: 2px solid #FF9D23;
  background-color: #FFF;
}

.main-content .subexe-container-box .exe2-position {
  float: right !important;
  margin-top: 50px;
  margin-right: 35px;
  border-radius: 8px;
  border: 2px solid #7C3A78;
  background-color: #FFF;
}

.main-content .subexe-container-box .arena-small {
  height: 100px !important;
  width: 100px !important;
}

.main-content .subexe-container-box .remove-btn {
  position: absolute;
  top: 30px;
  right: 20px;
  transition: all 0.1s ease-in-out;
}

.main-content .subexe-container-box .remove-btn-exe2-postion {
  top: 2px;
  right: 2px;
}

.main-content .subexe-container-box .remove-btn-animate {
  top: 40px;
  right: 30px;
}

.main-content .exe1-background {
  background-image: url(../img/exe1_bcg.png);
}

.main-content .exe2-background {
  background-image: url(../img/exe2_bcg.png);
}

.container-field-exe2-summary {
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  margin: 5px 25px 5px 5px;
  border-radius: 8px;
  border: 2px solid #E24CFF;
  background-color: #FFF;
}

.user-result-summary-container {
  float: left;
  margin: 0% 5% 0% 1%;
}

.user-result {
  float: left;
  margin-left: 7%;
  font-size: 100px;
  margin-top: 87.5px;
  width: 180px;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px 5px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #FF9D23;
  background-color: #FFF;
}

.user-result-summary {
  font-size: 36px;
  margin-top: 16.66667px;
  width: 70px;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px 5px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #FF9D23;
  background-color: #FFF;
  cursor: pointer;
}

/* EXE 2 style */
.exe2-number-box {
  font-size: 80px;
  font-weight: bold;
  top: 50px;
  left: 68px;
  width: 144px;
  height: 144px;
  border-radius: 80px;
  border: 2px solid #7C3A78;
  text-align: center;
  position: absolute;
  background-color: #E2DA97 !important;
}

.exe2-object-holder-box {
  height: 200px;
  width: 200px;
  border-radius: 120px;
  border: 2px solid #7C3A78;
  background-color: #E2DA97;
  position: absolute;
  top: 260px;
  left: 40px;
}

.exe2-number-box-small {
  font-size: 36px;
  margin-top: 10px;
  width: 70px;
  height: 100%;
  margin-bottom: 20px;
  padding: 10px 5px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #E24CFF;
  background-color: #FFF;
}

/* require for exe1 */
.counted-object {
  position: absolute;
  transform-origin: center;
}

.number-row-container {
  margin-top: 2%;
}

.number-row-container .input-number-row-li {
  display: inline-block;
}

.number-row-container .input-number-row-li .input-number-row {
  transition: all 0.3s ease-in-out;
  font-size: 48px;
  font-weight: bold;
  padding: 0px 13px;
  margin: 0px 4px;
  color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

/* ---- Drag and drop exercise --- */
