@import "bourbon/bourbon"

$button-bcg-color: rgb(26, 100, 202)
$btn-bcg-color-dis: #99ccff
$exec-field-size: 350px
$exec-result-width: 180px
$exe1-field-sum: 100px
$valid-result-color: rgb(85, 248, 85)
$invalid-result-color: rgb(255, 88, 88)

a:link, a:visited, a:hover, a:active
  text-decoration: none
  color: white

ul
  list-style: none
  padding: 0px

body
  font-weight: 300
  color: black
  background-color: #F2F2F2


/* Main menu header */
.header
  background-color: #FF1654
  width: 100%
  display: inline-block
  padding-top: 15px
  padding-bottom: 15px
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
  color: white
  font-size: 15px
  font-weight: bold

header, section
  position: relative

.col-menu
  width: 20%
  float: left
  padding: 5px

.menu-item
  float: left
  width: 100%
  margin-top: 5px
  margin-bottom: 5px
  padding-top: 15px
  padding-bottom: 15px
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
  background-color: #70C1B3
  font-size: 20px
  transition: all 0.2s linear

.nav-btn
  float: left
  padding: 5px 5px
  border-radius: 35px
  color: white
  background-color: #3E7AD0
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
  position: absolute
  transition: all 0.2s linear

  &-close
    @extend .nav-btn
    top: -10px
    right: 10px

  &-help
    @extend .nav-btn
    width: 50px
    height: 50px
    font-size: 28px
    font-weight: bold
    left: 20px
    top: -10px

  &-reload
    @extend .nav-btn
    top: -12px
    left: 775px

  &-reload-center
    @extend .nav-btn
    transition: all 0.1s linear
    top: -12px
    left: 470px

  &-top-left
    @extend .nav-btn
    top: $exec-field-size/2
    left: 50px

  &-top-right
    @extend .nav-btn
    top: $exec-field-size/2
    right: 50px

  &-bottom-left
    @extend .nav-btn
    left: 50px
    bottom: 0px

  &-bottom-right
    @extend .nav-btn
    right: 50px
    bottom: 0px

.nav-btn-animate
  transform-origin: center
  transform: scale(0.8,0.8)


.exe-header
  h1
    font-family: "Helvetica Neue", Arial, sans-serif
    font-size: 40px


.disabled
  background-color: $btn-bcg-color-dis !important
  cursor: not-allowed

.valid-result
  background-color: $valid-result-color !important

.invalid-result
  background-color: $invalid-result-color !important

.exercise-container
  border-radius: 8px
  background-color: #FFF
  box-shadow: 5px 5px 4px #888888
  text-align: center
  margin-left: auto
  margin-right: auto
  margin-top: 10px
  width: 1000px !important
  padding: 5px 5px 20px 5px

.menu-padding
  padding-left: 20px
  padding-right: 20px

/* customized uib progress bar */
@mixin progress-bar-text($color)
  color: $color
  font-size: 26px
  position: absolute
  text-align: center
  top: 4px
  width: 100%
  z-index: 2
  left: 0px

.progess-container
  margin-top: 25px
  height: 50px

  .progress-box
    width: 500px
    display: inline-block
    height: 30px
    background-color: white
    position: relative

  .progress-bar-exe1
    background-color: #FFEED6
    b
      color: #E48400
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-exe1
    border: 2px solid #E48400

  .progress-bar-exe2
    background-color: #E3D985
    b
      color: #7C3A78
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-exe2
    border: 2px solid #7C3A78

  .progress-bar-exe3
    background-color: #F7F4EA
    b
      color: #C5BFE0
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-exe3
    border: 2px solid #C5BFE0

  .progress-bar-exe4
    background-color: #A9E8F5
    b
      color: #717CC2
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-exe4
    border: 2px solid #717CC2

  .progress-bar-exe5
    background-color: #D9CAB3
    b
      color: #5E0B15
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-exe5
    border: 2px solid #5E0B15

  .progress-bar-pm-exe1
    background-color: #FFFBE7
    b
      color: #695D46
      font-size: 26px
      position: absolute
      text-align: center
      top: 4px
      width: 100%
      z-index: 2
      left: 0px

  .progress-color-pm-exe1
    border: 2px solid #695D46

/* container with objects and result */
@mixin exe-box-color($color)
  border-radius: 8px
  border: 2px solid $color
  background-color: #FFF

.main-content

  .subexe-container-box
    width: 680px
    height: 480px
    border-radius: 10px
    padding: 15px
    margin: auto
    position: relative

    .object-arena
      position: relative
      float: left
      height: $exec-field-size
      width: $exec-field-size
      margin-right: 5px
      @include exe-box-color(#FF9D23)

    .exe2-position
      float: right !important
      margin-top: 50px
      margin-right: 35px
      border-radius: 8px
      border: 2px solid #7C3A78
      background-color: #FFF

    .arena-small
      height: $exe1-field-sum !important
      width: $exe1-field-sum !important

    .remove-btn
      position: absolute
      top: 30px
      right: 20px
      transition: all 0.1s ease-in-out

      &-exe2-postion
        top: 2px
        right: 2px

      &-animate
        top: 40px
        right: 30px




  .exe1-background
    background-image: url(../img/exe1_bcg.png)

  .exe2-background
    background-image: url(../img/exe2_bcg.png)

  .exe3-background
    background-image: url(../img/exe3_bcg.png)

    .ball-with-number
      position: absolute
      height: 82px
      width: 82px
      background: #80A1D4
      border-radius: 40px
      color: white
      font-size: 45px
      font-weight: bold
      padding-top: 7px
      box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.50)

    .ball-without-number
      position: absolute
      height: 82px
      width: 82px
      background: #DED9E2
      border-radius: 40px
      box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.50)

    .ball-init-place
      top: 40px
      left: 40px

    .ball-container
      position: absolute
      border-radius: 100px
      height: 150px
      width: 150px
      top: 323px
      left: 527px

    .exe3-bcg-adds
      background: url(../img/exe3_bcg_adds.png) no-repeat
      width: 680px
      height: 480px
      margin: -15px
      margin-top: 17px
      position: relative

  .exe3-summary-background
    width: 144px
    height: 100px
    float: left
    margin-right: 40px
    margin-left: 30px
    margin-bottom: 15px
    background-image: url(../img/exe3_summary_item.png)
    position: relative

    .ball-with-number-small
      position: absolute
      height: 17px
      width: 17px
      background: #80A1D4
      border-radius: 10px
      color: white
      font-size: 10px
      font-weight: bold
      padding-top: 2px
      box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.50)

    .ball-without-number-small
      position: absolute
      height: 17px
      width: 17px
      background: #DED9E2
      border-radius: 10px
      box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.50)

.exe4-background
  background-image: url(../img/exe4_bcg.png)

  .exe4-bcg-adds
    background: url(../img/exe4_bcg_adds.png) no-repeat
    width: 680px
    height: 480px
    margin: -12px
    margin-top: 95px
    position: relative

  .cube-container
    position: absolute
    border-radius: 50%
    height: 150px
    width: 150px
    top: 295px
    left: 264px
    background: #C593C7
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.50)

    .cube-init-container
      position: absolute
      width: 85px
      height: 85px
      top: 35px
      left: 35px

    .cube-with-number
      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.50)

  .cube-round-container
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.50)

  .cube-ul
    position: absolute
    height: 85px
    width: 85px

  .cube-with-number
    position: absolute
    height: 85px
    width: 85px
    background: #89BDD3
    color: white
    font-size: 45px
    font-weight: bold
    padding-top: 8px


  .blocked-cube
    position: absolute
    height: 85px
    width: 85px
    background: #608697
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.50)

  .cube-without-number
    position: absolute
    height: 85px
    width: 85px
    background: #A9E8F5
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)

  .exe4-summary-background
    width: 153px
    height: 111px
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 5%
    border: 2px solid #6B76BF
    float: left
    margin-right: 5px
    margin-left: 45px
    margin-bottom: 5px
    position: relative

    .cube-without-number
      height: 18px
      width: 18px

    .cube-with-number
      height: 18px
      width: 18px
      font-size: 14px
      padding-top: 0px

    .blocked-cube
      height: 18px
      width: 18px

.exe5-background
  background-image: url(../img/exe5_bcg.png)

  .square-container
    width: 513px
    height: 125px
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 10px
    margin: 25px auto 0px auto
    padding-left: 25px
    padding-top: 15px
    position: relative

  .square
    height: 95px
    width: 75px
    background-color: #5E0B15
    color: white
    border-radius: 10px
    font-size: 50px
    display: inline-block
    margin-right: 20px
    position: relative
    p
      position: relative
      top: 50%
      transform: translateY(-50%)

  .square-dropped
    left: 10px
    height: 90%
    width: 80px
    background-color: #5E0B15
    color: white
    border-radius: 10px
    font-size: 50px
    display: inline-block
    margin-top: 8%
    position: absolute
    p
      position: absolute
      bottom: 15px
      left: 50%
      transform: translateX(-50%)


  .column-container
    display: inline-block

  .column-one
    width: 100px
    height: 130px
    border-radius: 10px
    background-color: #8C7A6B
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: absolute
    bottom: 20px
    left: 35px

  .column-two
    width: 100px
    height: 160px
    border-radius: 10px
    background-color: #8C7A6B
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: absolute
    bottom: 20px
    left: 160px

  .column-three
    width: 100px
    height: 190px
    border-radius: 10px
    background-color: #8C7A6B
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: absolute
    bottom: 20px
    left: 290px

  .column-four
    width: 100px
    height: 220px
    border-radius: 10px
    background-color: #8C7A6B
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: absolute
    bottom: 20px
    left: 420px

  .column-five
    width: 100px
    height: 250px
    border-radius: 10px
    background-color: #8C7A6B
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: absolute
    bottom: 20px
    left: 550px

  .exe5-summary-background
    width: 210px
    height: 110px
    background-color: rgba(255, 255, 255, 0.5)
    border-radius: 5%
    display: inline-block
    margin-right: 5px
    margin-left: 0px
    margin-bottom: 5px
    position: relative

    .square-dropped
      left: 3px
      height: 90%
      width: 25px
      background-color: #5E0B15
      color: white
      border-radius: 5%
      font-size: 21px
      display: inline-block
      margin-top: 8%
      position: absolute
      p
        position: absolute
        bottom: 5px
        margin: 0px

    .column-one
      width: 30px
      height: 40px
      border-radius: 5%
      background-color: #8C7A6B
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
      position: absolute
      bottom: 10px
      left: 8px

    .column-two
      width: 30px
      height: 50px
      border-radius: 5%
      background-color: #8C7A6B
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
      position: absolute
      bottom: 10px
      left: 47px

    .column-three
      width: 30px
      height: 60px
      border-radius: 5%
      background-color: #8C7A6B
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
      position: absolute
      bottom: 10px
      left: 89px

    .column-four
      width: 30px
      height: 75px
      border-radius: 5%
      background-color: #8C7A6B
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
      position: absolute
      bottom: 10px
      left: 130px

    .column-five
      width: 30px
      height: 86px
      border-radius: 5%
      background-color: #8C7A6B
      box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
      position: absolute
      bottom: 10px
      left: 170px

.exe6-background
  background-image: url(../img/exe6_bcg.png)
  .number-basket
    height: 300px
    width: 100%


  .number-basket>li
    margin: 10px 10px 10px 5px
    display: inline-block


  .first-number, .second-number
    height: 70px
    width: 60px
    background-color: #9448BC
    color: white
    border-radius: 10px
    font-size: 43px
    float: left
    margin-left: 5px
    margin-right: 5px
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)


  .number-basket>li:nth-child(2) .first-number,
  .number-basket>li:nth-child(2) .second-number,
  .number-basket>li:nth-child(5) .first-number,
  .number-basket>li:nth-child(5) .second-number,
  .number-basket>li:nth-child(8) .first-number,
  .number-basket>li:nth-child(8) .second-number,
  .number-basket>li:nth-child(11) .first-number,
  .number-basket>li:nth-child(11) .second-number
    background-color: #450357

  .missing-sign-basket
    position: relative
    top: 5px
    width: 50px
    height: 60px
    display: block
    float: left
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    border-radius: 10px

  .missing-sign, .missing-sign-empty
    height: 60px
    width: 50px
    font-size: 40px
    line-height: normal
    background-color: #7699D4
    border-radius: 10px
    border: 3px solid #1850AE
    color: white


  .missing-sign-empty
    position: absolute
    background-color: #B6CBF0

  .sign-basket
    height: 90px
    width: 320px
    display: inline-block
    margin-top: 50px
    background-color: rgba(255,255,255,0.50)
    border-radius: 10px
    border: 3px solid #1850AE
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)

  .result-sign
    position: absolute
    height: 70px
    width: 60px
    background-color: #7699D4
    border-radius: 13px
    border: 3px solid #1850AE
    color: white
    font-size: 40px

  .sign-left
    left: -100px

  .sign-right
    left: 100px

  .sign-ul
    display: inline-block
    position: relative
    top: 5px
    height: 70px
    width: 60px
    border-radius: 10px

.exe7-background
  background-image: url(../img/exe7_bcg.png)

  .subexe-ul
    height: 350px
    width: 640px
    z-index: 1
    position: relative

  .subexe-ul>li
    display: inline-block
    margin-right: 15px
    margin-left: 15px
    cursor: pointer

  .double-input
    float: left
    font-size: 32px
    width: 183px
    height: 38px
    text-align: center
    line-height: 1
    padding: 0px
    font-weight: bold
    color: #3493BC
    background-color: #C3E3F0
    border: 2px solid #3493BC
    margin: 5px 0px 3px 0px



  .subexe-ul>li:nth-child(2) .double-input,
  .subexe-ul>li:nth-child(5) .double-input,
  .subexe-ul>li:nth-child(8) .double-input,
  .subexe-ul>li:nth-child(11) .double-input
    color: #95386D
    background-color: #FAC6E4
    border: 2px solid #95386D

  .subexe-ul>li:nth-child(3) .double-input,
  .subexe-ul>li:nth-child(6) .double-input,
  .subexe-ul>li:nth-child(9) .double-input,
  .subexe-ul>li:nth-child(12) .double-input
    color: #046CA6
    background-color: #94C5E1
    border: 2px solid #046CA6

  .single-left, .single-right
    border-radius: 3px
    float: left
    font-size: 34px
    font-weight: bold
    width: 72px
    height: 38px
    text-align: center
    line-height: 1
    padding: 0px
    color: white
    background-color: #9CAFB7
    border: 2px solid #3493BC

  .subexe-ul>li:nth-child(2) .single-left,
  .subexe-ul>li:nth-child(2) .single-right,
  .subexe-ul>li:nth-child(5) .single-left,
  .subexe-ul>li:nth-child(5) .single-right,
  .subexe-ul>li:nth-child(8) .single-left,
  .subexe-ul>li:nth-child(8) .single-right,
  .subexe-ul>li:nth-child(11) .single-left,
  .subexe-ul>li:nth-child(11) .single-right
    background-color: #FC8ACB
    border: 2px solid #95386D

  .subexe-ul>li:nth-child(3) .single-left,
  .subexe-ul>li:nth-child(3) .single-right,
  .subexe-ul>li:nth-child(6) .single-left,
  .subexe-ul>li:nth-child(6) .single-right,
  .subexe-ul>li:nth-child(9) .single-left,
  .subexe-ul>li:nth-child(9) .single-right,
  .subexe-ul>li:nth-child(12) .single-left,
  .subexe-ul>li:nth-child(12) .single-right
    background-color: #51809B
    border: 2px solid #046CA6

  .plus-sign
    float: left
    font-size: 64px
    font-weight: bold
    line-height: 0.4
    color: #046CA6

  .subexe-ul>li:nth-child(2) .plus-sign,
  .subexe-ul>li:nth-child(5) .plus-sign,
  .subexe-ul>li:nth-child(8) .plus-sign,
  .subexe-ul>li:nth-child(11) .plus-sign
    color: #95386D

  .subexe-ul>li:nth-child(3) .plus-sign,
  .subexe-ul>li:nth-child(6) .plus-sign,
  .subexe-ul>li:nth-child(9) .plus-sign,
  .subexe-ul>li:nth-child(12) .plus-sign
    color: #046CA6

  .highlight-tool
    position: absolute
    border-radius: 3px
    width: 203px
    height: 90px
    background-color: rgba(255, 255, 0, 0.6)
    z-index: 0
    transition: all 0.2s ease-in-out

  .valid-result, .invalid-result
    color: white

  .subexe-ul>li:nth-child(2) .valid-result,
  .subexe-ul>li:nth-child(5) .valid-result,
  .subexe-ul>li:nth-child(8) .valid-result,
  .subexe-ul>li:nth-child(11) .valid-result,
  .subexe-ul>li:nth-child(2) .invalid-result,
  .subexe-ul>li:nth-child(5) .invalid-result,
  .subexe-ul>li:nth-child(8) .invalid-result,
  .subexe-ul>li:nth-child(11) .invalid-result,
  .subexe-ul>li:nth-child(3) .valid-result,
  .subexe-ul>li:nth-child(6) .valid-result,
  .subexe-ul>li:nth-child(9) .valid-result,
  .subexe-ul>li:nth-child(12) .valid-result,
  .subexe-ul>li:nth-child(3) .invalid-result,
  .subexe-ul>li:nth-child(6) .invalid-result,
  .subexe-ul>li:nth-child(9) .invalid-result,
  .subexe-ul>li:nth-child(12) .invalid-result
    color: white

.exe8-background
  background-image: url(../img/exe8_bcg.png)

  .subexe-ul
    height: 350px
    width: 640px
    z-index: 1
    position: relative
    margin-top: -5px
    margin-bottom: 25px

  .subexe-ul>li
    display: inline-block
    margin-right: 15px
    margin-left: 15px
    margin-top: 5px

  .split-input, .given-split
    float: left
    font-size: 32px
    width: 72px
    height: 38px
    text-align: center
    line-height: 1
    padding: 0px
    font-weight: bold
    color: #64A506
    background-color: #F4F1BB
    border: 2px solid #64A506


  .given-split
    width: 183px
    margin: 5px 0px 3px 0px

  .subexe-ul>li:nth-child(2) .split-input,
  .subexe-ul>li:nth-child(5) .split-input,
  .subexe-ul>li:nth-child(8) .split-input,
  .subexe-ul>li:nth-child(11) .split-input,
  .subexe-ul>li:nth-child(2) .given-split,
  .subexe-ul>li:nth-child(5) .given-split,
  .subexe-ul>li:nth-child(8) .given-split,
  .subexe-ul>li:nth-child(11) .given-split
    color: #C343AE
    background-color: #F5BED2
    border: 2px solid #C343AE

  .subexe-ul>li:nth-child(3) .split-input,
  .subexe-ul>li:nth-child(6) .split-input,
  .subexe-ul>li:nth-child(9) .split-input,
  .subexe-ul>li:nth-child(12) .split-input,
  .subexe-ul>li:nth-child(3) .given-split,
  .subexe-ul>li:nth-child(6) .given-split,
  .subexe-ul>li:nth-child(9) .given-split,
  .subexe-ul>li:nth-child(12) .given-split
    color: #04A0AB
    background-color: #7AD3D9
    border: 2px solid #04A0AB

  .plus-sign
    float: left
    font-size: 64px
    font-weight: bold
    line-height: 0.4
    color: #64A506

  .subexe-ul>li:nth-child(2) .plus-sign,
  .subexe-ul>li:nth-child(5) .plus-sign,
  .subexe-ul>li:nth-child(8) .plus-sign,
  .subexe-ul>li:nth-child(11) .plus-sign
    color: #C343AE

  .subexe-ul>li:nth-child(3) .plus-sign,
  .subexe-ul>li:nth-child(6) .plus-sign,
  .subexe-ul>li:nth-child(9) .plus-sign,
  .subexe-ul>li:nth-child(12) .plus-sign
    color: #04A0AB

  .valid-result, .invalid-result
    color: white

  .subexe-ul>li:nth-child(2) .valid-result,
  .subexe-ul>li:nth-child(5) .valid-result,
  .subexe-ul>li:nth-child(8) .valid-result,
  .subexe-ul>li:nth-child(11) .valid-result,
  .subexe-ul>li:nth-child(2) .invalid-result,
  .subexe-ul>li:nth-child(5) .invalid-result,
  .subexe-ul>li:nth-child(8) .invalid-result,
  .subexe-ul>li:nth-child(11) .invalid-result,
  .subexe-ul>li:nth-child(3) .valid-result,
  .subexe-ul>li:nth-child(6) .valid-result,
  .subexe-ul>li:nth-child(9) .valid-result,
  .subexe-ul>li:nth-child(12) .valid-result,
  .subexe-ul>li:nth-child(3) .invalid-result,
  .subexe-ul>li:nth-child(6) .invalid-result,
  .subexe-ul>li:nth-child(9) .invalid-result,
  .subexe-ul>li:nth-child(12) .invalid-result
    color: white

.pm-exe1-background
  background-image: url(../img/pm_exe1_bcg.png)

  .cube-first, .cube-second, .cube-first-small, .cube-second-small
    width: 180px
    height: 180px
    float: left
    background-color: #A1E8D9
    border-radius: 15px
    margin: 45px 60px 45px 0px
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.50)
    position: relative

  .cube-first
    margin-left: 110px

  .point-on-square, .point-on-square-small
    width: 35px
    height: 35px
    border-radius: 50%
    position: absolute
    background-color: #FF712C


  .user-input-field
    width: 420px
    height: 80px
    border-radius: 5px
    border: solid 2px #695D46
    font-size: 40px
    text-align: center
    display: inline-block

  .input-plus-sign, .input-equal-sign
    transition: all 0.1s ease-in-out
    font-size: 46px
    line-height: 46px
    font-weight: bold
    padding: 0px 13px
    margin: 0px 4px
    color: white
    width: 56px
    height: 56px
    vertical-align: baseline
    font-family: "segoe ui"
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)


  .input-plus-sign
    margin-right: 50px
    border: 2px solid #016F4D
    background: #00B47D

  .input-equal-sign
    margin-left: 50px
    border: 2px solid #0053CA
    background: #5788CF

  .remove-btn-pm
    top: 200px
    right: 55px
    position: absolute
    transition: all 0.1s ease-in-out
    &-animate
      top: 210px
      right: 65px

  .summary-sub-background
    width: 175px
    height: 110px
    background-color: rgba(255, 255, 255, 0.8)
    margin: 5px 12px 5px 12px
    border-radius: 5px


  .cube-first-small, .cube-second-small
    width: 63px
    height: 63px
    border-radius: 5px
    margin: 5px 0px 10px 0px

  .cube-first-small
    margin-left: 16px
    margin-right: 16px

  .user-input-field-small
    width: 145px
    height: 28px
    border-radius: 2px
    border: solid 1px #695D46
    font-size: 20px
    text-align: center
    display: inline-block

  .point-on-square-small
    width: 12px
    height: 12px


.pm-exe2-background
  background-image: url(../img/pm_exe2_bcg.png)

  .subexe-ul
    height: 350px
    width: 640px
    z-index: 1
    position: relative
    margin-top: -5px
    margin-bottom: 30px
    color: #3E7AD0
    font-family: "Helvetica"
    font-weight: bold

  .subexe-ul>li
    display: inline-block
    width: 250px
    margin-right: 15px
    margin-left: 15px
    margin-top: 5px


  .equation-sum
    font-size: 40px
    display: inline-block
    float: left
    margin-right: 20px

  .user-input-field
    font-size: 30px
    width: 55px
    height: 55px
    background: #87F2CC
    border: solid 2px #2F6460
    padding: 0px
    margin: 0px
    text-align: center
    float: left
    border-radius: 5px

  .user-input-field:focus
    background: #ffffff !important

  .remove-btn-pm
    position: absolute
    z-index: 99
    transform: scale(0.6,0.6)
    transition: all 0.1s ease-in-out
    &-animate
      transform-origin: center
      transform: scale(0.5,0.5)

  .valid-result, .invalid-result
    color: white



.container-field-exe2-summary
  position: relative
  float: left
  height: $exe1-field-sum
  width: $exe1-field-sum
  margin: 5px 25px 5px 5px
  @include exe-box-color(#E24CFF)


@mixin user-result-common($color)
  height: 100%
  margin-bottom: 20px
  padding: 10px 5px
  text-align: center
  @include exe-box-color($color)

.user-result-summary-container
  float: left
  margin: 0% 5% 0% 1%

.user-result
  float: left
  margin-left: 7%
  font-size: 100px
  margin-top: $exec-field-size/4
  width: $exec-result-width
  @include user-result-common(#FF9D23)


.user-result-summary
  font-size: 36px
  margin-top: $exe1-field-sum/6
  width: 70px
  @include user-result-common(#FF9D23)
  cursor: pointer


/* EXE 2 style */

.exe2-number-box
  font-size: 80px
  font-weight: bold
  top: 50px
  left: 68px
  width: 144px
  height: 144px
  border-radius: 80px
  border: 2px solid #7C3A78
  text-align: center
  position: absolute
  background-color: #E2DA97 !important

.exe2-object-holder-box
  height: 200px
  width: 200px
  border-radius: 120px
  border: 2px solid #7C3A78
  background-color: #E2DA97
  position: absolute
  top: 260px
  left: 40px

.exe2-number-box-small
  font-size: 36px
  margin-top: 20px
  width: 70px
  height: 70px
  border-radius: 40px
  margin-bottom: 20px
  padding: 10px 5px
  text-align: center
  background-color: #E2DA97 !important
  border: 2px solid #7C3A78

.disabling-layer
  opacity: 0.5
  z-index: 99
  background-color: white !important

/* require for exe1 */
.counted-object
  position: absolute
  transform-origin: center

.number-row-container
  margin-top: 2%

  .input-number-row-li
    display: inline-block

    .input-number-row
      transition: all 0.1s ease-in-out
      font-size: 48px
      font-weight: bold
      padding: 0px 13px
      margin: 0px 4px
      color: white
      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)

    &:nth-child(1), &:nth-child(5), &:nth-child(9)
      .input-number-row
        background: #FFB651
        border: 2px solid #E48400

    &:nth-child(2), &:nth-child(6), &:nth-child(10)
      .input-number-row
        background: #3E7AD0
        border: 2px solid #0053CA

    &:nth-child(3), &:nth-child(7)
      .input-number-row
        background: #FF7746
        border: 2px solid #FF4400

    &:nth-child(4), &:nth-child(8)
      .input-number-row
        background: #00B47D
        border: 2px solid #016F4D
