<div class="exercise-container">
  <header class="exe-header">
    <a animate-button class="nav-btn-help" href>
      ?
    </a>
    <a animate-button class="nav-btn-close" href ng-click="vm.exit()">
      <ng-md-icon icon="close" size="36" style="fill:white"/>
    </a>
    <h1>{{allTexts.countExericseTitleText}}</h1>
  </header>

  <section class="progess-container">
    <uib-progressbar class="progress-box progress-color-exe1" type="exe1" value="currentPage*onePercentage">
      <b>{{vm.currentPage}}/{{vm.exercise1Data.subexerciseListDTO.length}}</b>
    </uib-progressbar>

    <a animate-button  class="nav-btn-reload" href ng-click="vm.reload()">
      <ng-md-icon icon="refresh" size="36" style="fill:white"/>
    </a>
  </section>

  <section class="main-content">
    <!-- ng-swipe-left="selectPage(currentPage-1,$event)" ng-swipe-right="selectPage(currentPage+1,$event)" -->
    <a animate-button  class="nav-btn-top-left" href ng-class="{disabled:vm.noPrevious()}" ng-click="vm.selectPage(vm.currentPage-1,$event)">
      <ng-md-icon icon="navigate_before" size="48" style="fill:white"/>
    </a>

    <a animate-button class="nav-btn-bottom-left hide" href ng-class="{show:vm.isSummaryActive}" ng-click="vm.currentPage = 1">
      <ng-md-icon icon="apps" size="48" style="fill:white"/>
    </a>

    <div ng-switch on="vm.exetype">
      <div class="subexe-container-box exe1-background" ng-switch-when="N1a">
        <ul>
          <li ng-if="vm.isCurrentExercise($index)" ng-repeat="subExercise in vm.exercise1Data.subexerciseListDTO">
            <section ng-if="vm.isSummaryActive && $index==0">
              <ul>
                <li ng-if="$index!==0" ng-repeat="summary in $parent.vm.exercise1Data.subexerciseListDTO">
                  <a href ng-click="selectPage($index+1,$event)">
                    <div class="object-arena arena-small">
                      <img class="counted-object" height="{{exe1SubCtrlSummary.elementSize}}" ng-repeat="pos in exe1SubCtrlSummary.positionArray" ng-src="{{exe1SubCtrlSummary.imgUrl}}" ng-style="{{pos}}"/>
                    </div>
                    <div class="user-result-summary-container">
                      <input class="form-control user-result-summary" disabled ng-class="summary.resultStyle" type="text" value="{{exe1SubCtrlSummary.userInput}}"/>
                    </div>
                  </a>
                </li>
              </ul>
            </section>

            <section ng-if="!vm.isSummaryActive || $index !== 0">
              <div class="clearfix">
                <div class="object-arena">
                  <img class="counted-object" height="{{vm.elementSize}}" ng-repeat="pos in subExercise.positions" ng-src="{{exe1SubCtrl.imgUrl}}" ng-style="{{pos}}"/>
                </div>
                <input class="form-control user-result" maxlength="2" ng-change="exe1SubCtrl.changeInput()" ng-class="getResultColor($index+1)" ng-disabled="isSummaryActive" ng-model="exe1SubCtrl.userInput" placeholder="?" required="" type="text"/>
                <a animate-rubber class="remove-btn" href ng-class="{hide:isSummaryActive}" ng-click="exe1SubCtrl.backspace()">
                  <img src="./app/img/rubber.png"/>
                </a>
              </div>
              <ul class="number-row-container">
                <li class="input-number-row-li" ng-repeat="key in [0,1,2,3,4,5,6,7,8,9]">
                  <input animate-button class="input-number-row" ng-click="exe1SubCtrl.setUserInput($index)" ng-disabled="isSummaryActive" ng-style="exe1SubCtrl.getNumberStyle($index)" type="button" value="{{key}}"/>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </div>

      <div class="subexe-container-box exe2-background" ng-switch-when="N1b">
        <ul>
          <li ng-if="isCurrentExercise($index)" ng-repeat="subExercise in countExerciseData">
            <div ng-if="isSummaryActive && $index==0">
              <ul>
                <li ng-controller="exe2Summary as exe2Summary" ng-if="$index!==0" ng-repeat="summary in $parent.countExerciseData">
                  <a href ng-click="selectPage($index+1,$event)">
                    <div style="float:left; margin:0% 1% 0% 1%">
                      <input class="form-control exe2-number-box-small" disabled style="background-color: #FBF168 !important;" type="text" value="{{summary.expectedResult}}"/>
                    </div>
                    <div class="container-field-exe2-summary" ng-class="summary.resultStyle">
                      <div class="counted-object" ng-repeat="pos in exe2Summary.positionArray" ng-show="exe2Summary.isAdded(pos)" ng-style="{{pos.initPlace}}" style="cursor:pointer;">
                        <img height="{{exe2Summary.elementSize}}" ng-src="{{exe2Summary.imgUrl}}"/>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div ng-controller="exe2SubCtrl as exe2SubCtrl" ng-if="!isSummaryActive || $index !== 0">
              <input class="form-control exe2-number-box" disabled type="text" value="{{subExercise.expectedResult}}"/>
              <div class="exe2-object-holder-box" droppable-origin >
                <!--  <a href ng-click="exe2SubCtrl.addObject()"> -->
                <div class="counted-object" style="top:80px; left:125px;">
                  <img height="66px" ng-src="{{exe2SubCtrl.imgUrl}}"/>
                </div>
                <div class="counted-object" style="top: 80px; left:10px;">
                  <img height="66px" ng-src="{{exe2SubCtrl.imgUrl}}"/>
                </div>
                <!--</a> -->
              </div>

              <div class="object-arena exe2-position" droppable-object ng-class="getResultColor($index+1)">
                <img class="counted-object" height="{{exe2SubCtrl.elementSize}}" original-height="{{pos.elementSize}}" draggable-object ng-repeat="pos in exe2SubCtrl.positionArray" ng-show="exe2SubCtrl.isAdded(pos)" ng-src="{{exe2SubCtrl.imgUrl}}" id="{{pos.id}}" ng-style="{{pos.initPlace}}" target-top="{{pos.targetPlace.top}}" target-left="{{pos.targetPlace.left}}" style="cursor:pointer;"/>
              </div>
              <a class="remove-btn remove-btn-exe2-postion" animate-rubber ng-click="exe2SubCtrl.removeOne()"  href ng-class="{hide:isSummaryActive}">
                <img src="./app/img/rubber.png"/>
              </a>
            </div>

          </li>
        </ul>
      </div>

    </div>

    <a animate-button  class="nav-btn-top-right" href ng-class="{disabled:noNext()}" ng-click="selectPage(currentPage+1,$event)">
      <ng-md-icon icon="navigate_next" size="48" style="fill:white"/>
    </a>
    <a animate-button class="nav-btn-bottom-right" href ng-class="{disabled:isSummaryActive}" ng-click="checkResult()">
      <ng-md-icon icon="done_all" size="48" style="fill:white"/>
    </a>
  </section>
</div>
