<div class="exercise-container">
  <header class="exe-header">
    <a animate-button class="nav-btn-help" href>
      ?
    </a>
    <a animate-button class="nav-btn-close" href ng-click="vm.exit()">
      <ng-md-icon icon="close" size="36" style="fill:white"/>
    </a>
    <h1>{{vm.titleText}}</h1>
  </header>

  <section class="progess-container">
    <uib-progressbar class="progress-box" ng-class="vm.progressBarClass" type="{{vm.progressBarType}}" value="vm.currentPage * vm.onePercentage">
      <b>{{vm.currentPage}}/{{vm.totalItems}}</b>
    </uib-progressbar>

    <a animate-button class="nav-btn-reload" href ng-click="vm.reload()">
      <ng-md-icon icon="refresh" size="36" style="fill:white"/>
    </a>
  </section>

  <section class="main-content">
    <!-- ng-swipe-left="selectPage(currentPage-1,$event)" ng-swipe-right="selectPage(currentPage+1,$event)" -->
    <a animate-button class="nav-btn-top-left" href ng-class="{disabled:vm.noPrevious()}" ng-click="vm.selectPage(vm.currentPage-1,$event)">
      <ng-md-icon icon="navigate_before" size="48" style="fill:white"/>
    </a>

    <a animate-button class="nav-btn-bottom-left hide" href ng-class="{show:vm.isSummaryActive()}" ng-click="vm.currentPage = 1">
      <ng-md-icon icon="apps" size="48" style="fill:white"/>
    </a>

    <div ng-switch on="vm.exetype">
      <div class="subexe-container-box exe1-background" ng-switch-when="N1a">
        <ul>
          <li ng-if="vm.isCurrentExercise($index)" ng-repeat="subExercise in vm.exercise1Data.subexerciseListDTO">
            <section ng-if="vm.isSummaryActive() && $index==0">
              <ul>
                <li ng-if="$index!==0" ng-repeat="summary in vm.exercise1Data.subexerciseListDTO">
                  <a href ng-click="vm.selectPage($index+1,$event)">
                    <div class="object-arena arena-small">
                      <img class="counted-object" height="{{summary.smallElementSize}}" ng-repeat="pos in summary.listOfPositions" ng-style="{{pos.getSmallPosition()}}" src="./app/img/pink-flower.png"/>
                    </div>
                    <div class="user-result-summary-container">
                      <input class="form-control user-result-summary" disabled ng-class="{'valid-result':vm.isCorrect($index), 'invalid-result':!vm.isCorrect($index)}" type="text" value="{{summary.givenNumber}}"/>
                    </div>
                  </a>
                </li>
              </ul>
            </section>

            <section ng-if="!vm.isSummaryActive() || $index !== 0">
              <div class="clearfix">
                <div class="object-arena">
                  <img class="counted-object" height="{{subExercise.largeElementSize}}" ng-repeat="pos in subExercise.listOfPositions" ng-style="{{pos.getLargePosition()}}" src="./app/img/pink-flower.png"/>
                </div>
                <input class="form-control user-result" maxlength="2" ng-class="{'valid-result':vm.isCorrect($index) && vm.isSummaryActive() , 'invalid-result':!vm.isCorrect($index) && vm.isSummaryActive()}" ng-disabled="vm.isSummaryActive()" ng-model="subExercise.givenNumber" placeholder="?" required="" type="text"/>
                <a animate-rubber class="remove-btn" href ng-class="{hide:vm.isSummaryActive()}" ng-click="vm.backspace($index)">
                  <img src="./app/img/rubber.png"/>
                </a>
              </div>
              <ul class="number-row-container">
                <li class="input-number-row-li" ng-repeat="key in [0,1,2,3,4,5,6,7,8,9]">
                  <input animate-button class="input-number-row" ng-click="vm.setUserInput($parent.$index, $index)" ng-disabled="vm.isSummaryActive()" type="button" value="{{key}}"/>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </div>

      <!-- exercise 2 view -->
      <div class="subexe-container-box exe2-background" ng-switch-when="N1b">
        <ul>
          <li ng-if="vm.isCurrentExercise($index)" ng-repeat="subExercise in vm.exercise2Data.subexerciseListDTO">

            <div ng-if="vm.isSummaryActive() && $index==0">
              <ul>
                <li ng-if="$index!==0" ng-repeat="summary in vm.exercise2Data.subexerciseListDTO">
                  <a href ng-click="vm.selectPage($index+1,$event)">
                    <div style="float:left; margin:0% 1% 0% 1%">
                      <input class="form-control exe2-number-box-small" disabled type="text" value="{{summary.number}}"/>
                    </div>
                    <div class="container-field-exe2-summary" ng-class="{'valid-result':vm.isCorrect($index) && vm.isSummaryActive() , 'invalid-result':!vm.isCorrect($index) && vm.isSummaryActive()}">
                      <img class="counted-object" height="{{summary.smallElementSize}}" ng-hide="!object.isDropped && vm.isSummaryActive()" ng-repeat="object in summary.listOfPositions" ng-show="object.isDisplayed" ng-style="{{object.getSmallPosition()}}" src="./app/img/pink-flower.png" style="cursor:pointer;"/>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div ng-if="!vm.isSummaryActive() || $index !== 0">
              <input class="form-control exe2-number-box" disabled type="text" value="{{subExercise.number}}"/>
              <div class="exe2-object-holder-box disabling-layer" ng-show="vm.isSummaryActive() || vm.isLastElement"></div>
              <div class="exe2-object-holder-box" droppable-origin>
                <div class="counted-object" style="top:80px; left:125px;">
                  <img height="66px" src="./app/img/pink-flower.png"/>
                </div>
                <div class="counted-object" style="top: 80px; left:10px;">
                  <img height="66px" src="./app/img/pink-flower.png"/>
                </div>
                <div class="counted-object" ng-show="vm.isSummaryActive() || vm.isLastElement" style="top: 35px; left:40px;">
                  <img height="120px" src="./app/img/pink-flower.png"/>
                </div>
              </div>

              <div class="object-arena exe2-position" droppable-object ng-class="{'valid-result':vm.isCorrect($index) && vm.isSummaryActive() , 'invalid-result':!vm.isCorrect($index) && vm.isSummaryActive()}">
                <img class="counted-object" draggable-object height="{{subExercise.largeElementSize}}" id="{{object.objectId}}" ng-hide="!object.isDropped && vm.isSummaryActive()" ng-repeat="object in subExercise.listOfPositions" ng-show="object.isDisplayed" ng-style="{{object.getInitPlace()}}" original-height="{{subExercise.largeElementSize}}" src="./app/img/pink-flower.png" style="cursor:pointer;"/>

              </div>
              <a animate-rubber class="remove-btn remove-btn-exe2-postion" href ng-class="{hide:vm.isSummaryActive()}" ng-click="vm.removeOne($index)">
                <img src="./app/img/rubber.png"/>
              </a>
            </div>

          </li>
        </ul>
      </div>
      <!-- end of exercise 2 view -->

      <!-- exercise 3 view -->
      <div class="subexe-container-box exe3-background" ng-switch-when="N1c">
        <ul>
          <li ng-if="vm.isCurrentExercise($index)" ng-repeat="subExercise in vm.exercise3Data.subexerciseListDTO">
            <div ng-if="vm.isSummaryActive() && $index == 0">
              <ul>
                <li ng-if="$index!==0" ng-repeat="summary in vm.exercise3Data.subexerciseListDTO">
                  <a href ng-click="vm.selectPage($index+1,$event)">
                    <div class="exe3-summary-background">
                      <div class="ball-with-number-small" ng-hide="vm.isNumberMissing($parent.$index, ball)" ng-repeat="ball in summary.listOfGivenNumbers" ng-style="vm.smallPositions[$index]">
                        {{ball}}
                      </div>
                      <div class="ball-without-number-small" ng-class="{'invalid-result':true}" ng-repeat="ball in summary.listOfGivenNumbers" ng-show="!vm.isDropped($parent.$index, ball) && vm.isNumberMissing($parent.$index, ball)" ng-style="vm.d[$index]"></div>
                      <div class="ball-with-number-small" ng-class="{'valid-result':vm.isCorrect($parent.$index, ball), 'invalid-result':!vm.isCorrect($parent.$index, ball)}" ng-repeat="ball in summary.listOfGivenNumbers" ng-show="vm.isNumberMissing($parent.$index, ball) && vm.isDropped($parent.$index, ball)" ng-style="vm.smallPositions[$index]">
                        {{ball}}
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div ng-if="!vm.isSummaryActive() || $index !== 0">
              <div class="exe3-bcg-adds"></div>

              <div ball-value="-99" class="ball-container" droppable-ball-container></div>
              <!-- base numbers -->
              <div class="ball-with-number" ng-hide="vm.isNumberMissing($parent.$index, ball)" ng-repeat="ball in subExercise.listOfGivenNumbers" ng-style="vm.positions[$index]">
                {{ball}}
              </div>
              <!-- draggable and droppable numbers -->
              <div ball-value="{{ball}}" class="ball-without-number" droppable-ball ng-repeat="ball in subExercise.listOfGivenNumbers" ng-show="vm.isNumberMissing($parent.$index, ball) && !vm.isSummaryActive()" ng-style="vm.positions[$index]"></div>
              <div ball-value="{{ball}}" class="ball-with-number" draggable-ball ng-repeat="ball in subExercise.missingNumbers" ng-show="vm.isVisible($parent.$index, ball) && !vm.isSummaryActive()" ng-style="!vm.isDropped($parent.$index, ball) && vm.startingPosition || vm.isDropped($parent.$index, ball) && vm.positions[ball] ">
                {{ball}}
              </div>
              <!-- summary numbers -->
              <div class="ball-without-number" ng-class="{'invalid-result':true}" ng-repeat="ball in subExercise.listOfGivenNumbers" ng-show="vm.isSummaryActive() && !vm.isDropped($parent.$index, ball) && vm.isNumberMissing($parent.$index, ball)" ng-style="vm.positions[$index]"></div>
              <div class="ball-with-number" ng-class="{'valid-result':vm.isCorrect($parent.$index, ball), 'invalid-result':!vm.isCorrect($parent.$index, ball)}" ng-repeat="ball in subExercise.listOfGivenNumbers" ng-show="vm.isNumberMissing($parent.$index, ball) && vm.isDropped($parent.$index, ball) && vm.isSummaryActive()" ng-style="vm.positions[$index]">
                {{ball}}
              </div>
            </div>

          </li>
        </ul>
      </div>
      <!-- end of exercise 3 view -->

      <!-- exercise 4 view -->
      <div class="subexe-container-box exe4-background" ng-switch-when="N1d">
        <ul>
          <li ng-if="vm.isCurrentExercise($index)" ng-repeat="subExercise in vm.exercise4Data.subexerciseListDTO">
            <div ng-if="vm.isSummaryActive() && $index == 0">
              <ul>
                <li ng-if="$index!==0" ng-repeat="summary in vm.exercise4Data.subexerciseListDTO">
                  <a href ng-click="vm.selectPage($index+1,$event)">
                    <div class="exe4-summary-background">

                      <!-- base numbers -->
                      <div class="cube-round-container cube-with-number" ng-repeat="cube in summary.listOfGivenNumbers" ng-style="summary.smallPositionForNumber[cube.value]">
                        {{cube.value}}
                      </div>

                      <!-- blocked numbers -->
                      <div class="blocked-cube" ng-repeat="blocked in summary.listOfBlockedNumbers" ng-style="summary.smallPositionForNumber[blocked.value]"></div>

                      <!-- place to drop the numbers -->
                      <ul ng-sortable="vm.sortableConfig" ng-repeat="missingNumber in summary.listOfMissingNumbers" ng-style="summary.smallPositionForNumber[missingNumber.value]" class="cube-ul cube-without-number" ng-sortable="{group: 'home'}" ng-class="{'valid-result': missingNumber.isCorrect() && vm.isSummaryActive(), 'invalid-result':!missingNumber.isCorrect() && vm.isSummaryActive()}">
                        <li class="cube-with-number" ng-repeat="droppedNumber in missingNumber.listOfDroppedNumbers" ng-class="{'valid-result': missingNumber.isCorrect() && vm.isSummaryActive(), 'invalid-result':!missingNumber.isCorrect() && vm.isSummaryActive()}">
                          {{droppedNumber.value}}
                        </li>
                      </ul>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

            <div ng-if="!vm.isSummaryActive() || $index !== 0">
              <div ball-value="-99" class="cube-container" ng-hide="vm.isSummaryActive()">
                <ul class="cube-init-container" ng-sortable="{group: 'home'}">
                  <li ng-repeat="missingNumber in subExercise.numberOnStart.listOfDroppedNumbers" class="cube-with-number" ng-class="{'valid-result': missingNumber.isCorrect() && vm.isSummaryActive(), 'invalid-result':!missingNumber.isCorrect() && vm.isSummaryActive()}">
                    {{missingNumber.value}}
                  </li>
                </ul>
              </div>

              <!-- base numbers -->
              <div class="cube-round-container cube-with-number" ng-repeat="cube in subExercise.listOfGivenNumbers" ng-style="subExercise.positionForNumber[cube.value]">
                {{cube.value}}
              </div>

              <!-- blocked numbers -->
              <div class="blocked-cube" ng-repeat="blocked in subExercise.listOfBlockedNumbers" ng-style="subExercise.positionForNumber[blocked.value]"></div>

              <!-- place to drop the numbers -->
              <ul ng-sortable="vm.sortableConfig" ng-repeat="missingNumber in subExercise.listOfMissingNumbers" ng-style="subExercise.positionForNumber[missingNumber.value]" class="cube-ul cube-without-number" ng-sortable="{group: 'home'}" ng-class="{'valid-result': missingNumber.isCorrect() && vm.isSummaryActive(), 'invalid-result':!missingNumber.isCorrect() && vm.isSummaryActive()}">
                <li class="cube-with-number" ng-repeat="droppedNumber in missingNumber.listOfDroppedNumbers" ng-class="{'valid-result': missingNumber.isCorrect() && vm.isSummaryActive(), 'invalid-result':!missingNumber.isCorrect() && vm.isSummaryActive()}">
                  {{droppedNumber.value}}
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- end of exercise 4 view  -->

    </div>

    <a animate-button class="nav-btn-top-right" href ng-class="{disabled:vm.noNext()}" ng-click="vm.selectPage(vm.currentPage+1,$event)">
      <ng-md-icon icon="navigate_next" size="48" style="fill:white"/>
    </a>
    <a animate-button class="nav-btn-bottom-right" href ng-class="{disabled:vm.isSummaryActive()}" ng-click="vm.checkResult()">
      <ng-md-icon icon="done_all" size="48" style="fill:white"/>
    </a>
  </section>
</div>
